<div id="{{ id }}" class="elementselect">
	<div class="elements">
		{% if value.id is defined and value.id > 0 %}
			<div class="element removable" data-id="{{ value.id }}" data-label="{{ value.name }}">
				<a class="delete icon" title="Remove"></a>
				<div class="label">
					<span class="title">{{ value.name }}</span>
				</div>
			</div>
		{% endif %}
	</div>
	<input type="hidden" class="connectwise-input" name="{{ name }}" value="{{ value.id is defined and value.id > 0 ? value.id : '' }}">

	<div class="btn add icon dashed{{ value.id is defined and value.id > 0 ? ' disabled' : '' }}">{{ "Choose Company"|t }}</div>
</div>
