{% from "_includes/forms" import text -%}
<div class="content">
	<div class="main">
		<div class="toolbar">
			<table class="inputs fullwidth collapsible">
				<tr>
					<td>
						{% if endpoint == 'contact' %}
							<div class="firstname search" style="position:absolute;width: 48%;left:0%;">
								{{ text({ placeholder: "First Name"|t }) }}
							</div><div class="lastname search" style="position:absolute;width: 48%;left:52%;">
								{{ text({ placeholder: "Last Name"|t }) }}
							</div>
						{% else %}
							<div class="texticon search icon">
								{{ text({ placeholder: "Search"|t }) }}
								<div class="clear hidden" title="{{ 'Clear'|t }}"></div>
							</div>
						{% endif %}
					</td>
					<td class="thin viewbtns hidden"></td>
				</tr>
			</table>
			<div class="spinner hidden"></div>
		</div>

		<div class="elements">
			<div class="tableview">
				<table class="data fullwidth">
					<thead>
						<tr>
							<th scope="col" data-attribute="name">Name</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

		<div class="centeralign">
			<div class="spinner loadingmore hidden"></div>
		</div>
	</div>
</div>
