{% for item in items %}
	{% if endpoint == 'contact' %}
		{% set name = item.firstName~' '~item.firstName %}
	{% else %}
		{% set name = item.name %}
	{% endif %}
	<tr data-id="{{ item.id }}" data-label="{{ name }}">
		<td data-title="Name" data-titlecell>
			<div class="element" data-id="{{ item.id }}" data-label="{{ name }}" data-editable>
				<div class="label"><span class="title">
					{{ name }}
					{% if endpoint == 'contact' and item.company is not null %}from {{ item.company.name }}{% endif %}
				</span></div>
			</div>
		</td>
	</tr>
{% endfor %}
